:root {
    --bright-orange: hsl(31, 77%, 52%);
    --dark-cyan: hsl(184, 100%, 22%);
    --very-dark-cyan: hsl(179, 100%, 13%);
    --transparent-white: hsla(0, 0%, 100%, 0.75);
    --light-grey: hsl(0, 0%, 95%);
}

body {
    background-color: var(--light-grey);
    padding-top: 80px;
}

* {
    font-family: 'Lexend Deca';
    font-weight: 400;
    font-size: 15px;
}

.preview {
    display: flex;
    flex-direction: column;

    width: 330px;
    margin: 0 auto;
    border-radius: 10px;
    overflow: hidden;
}

@media screen and (min-width: 1000px) {
    html {
        height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .preview {
        flex-direction: row;
        width: 920px;
        height: 500px;
    }

    .card div.more {
        margin-top: auto;
    }
}

.card {
    padding: 50px;
    display: flex;
    flex-direction: column;
}

.card img {
    width: 65px;
}

.card h2 {
    font-family: 'Big Shoulders Display';
    font-weight: 700;
    font-size: 40px;
    text-transform: uppercase;
    color: var(--light-grey);
    margin: 32px 0;
}

.card p {
    color: var(--transparent-white);
    line-height: 1.65;
    letter-spacing: 0.1px;

    margin-top: 0;
    margin-bottom: 24px;
}

section.card:nth-child(1) {
    background-color: var(--bright-orange);
}

section.card:nth-child(1) a {
    color: var(--bright-orange);
}

section.card:nth-child(2) {
    background-color: var(--dark-cyan);
}

section.card:nth-child(2) a {
    color: var(--dark-cyan);
}

section.card:nth-child(3) {
    background-color: var(--very-dark-cyan);
}

section.card:nth-child(3) a {
    color: var(--very-dark-cyan);
}

.card div.more {
    box-sizing: border-box;
    background-color: var(--light-grey);
    height: 48px;
    width: 150px;
    border-radius: 25px;
    padding: 14px 32px;
}

section.card a:link {
    text-decoration: none;
}

.attribution {
    margin-top: 50px;
    text-align: center;
}